:host {
    min-width: 275px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
}
.mat-button-toggle-label-content {
    line-height: 0px !important;
    padding: 12px 10px 10px 10px !important;
}
.operation-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 20px;
    border: none;
    width: 80%;

    .operation-button {
        width: 100%;
        border: 1px solid rgba(0, 161, 204, 0.12);

        &.mat-button-toggle-checked {
            background-color: #31c4f3;
            color: white;

            .mat-button-toggle-focus-overlay {
                background-color: #13baf1;
            }
        }

        .operation-button-content {
            padding: 20px;
            width: 100%;
            height: 100%;
        }
    }
    ::ng-deep .mat-button-toggle-label-content {
        display: flex;
    }
}
