:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #edf2f5;

    .wizard-view-container {
        height: 90%;
        padding: 10px;

        > * {
            height: 100%;
        }
    }

    .wizard-button-container {
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
        box-shadow: 7px -2px 10px 0px rgb(0 0 0 / 30%);
    }

    mat-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
    }
}
