:host {
    height: 100%;

    .table-container {
        height: 90%;
        overflow: auto;

        table {
            width: 100%;

            tr.mat-row {
                background-color: #edf2f5;
                &.row-selected {
                    background-color: #31c4f3;
                }
                &:hover {
                    background-color: #8ee6ff;
                }
            }
        }
    }
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
    height: 10%;
}
